    p{
        font-family: Roboto;
    }
    .video-title{
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        width: 300px;
        line-height: 24px;
        margin-bottom: 5px;

    }
    .video-text{
        font-size: 14px;
        color:grey;
        margin-top: 0px;
        /* font-family: arial; */
        margin-bottom: 5px;
    }
    .video-author{
        font-size: 14px;
        color:grey;
        margin-top: 20px;
        /* font-family: arial; */
        margin-bottom: 15px;
    }
    .video-longtext{
        font-size: 14px;
        color:grey;
        margin-top: 0px;
        /* font-family: arial; */
        width: 300px;
    }
    .apple-text{
        background-color: red;
        color: white;
        padding: 10px 10px 10px 10px;
        width: fit-content;
        font-size: 14px;
    }
    a:hover{
        color: white;
        font-size: 14px;
        text-decoration: underline;
    }